%h2 Editing Record
.record
  %form{:action => '#', :method => 'post'}
    %input{:type => 'hidden', :name => '_method', :value => 'put'}
    - @records.each do |record|
      = haml(:record_form, :layout => false, :locals => {:record => record, :prefix => "record[#{record[@primary_key]}]"})
    %input{:type => 'submit', :value => 'Save'}