.record
  %form{:action => '#', :method => 'post'}
    %input{:type => 'hidden', :name => '_method', :value => 'put'}
    - @table.columns.each do |column|
      =text_field("record[#{column}]", :title => column, :value => @record[column])
    %input{:type => 'submit', :value => 'Save'}