%table.dataset.qtable
  %thead
    %tr
      %th.ui-state-default=""   
      %th.ui-state-default=""
      - @rows.columns.each do |column|
        %th.sortable.ui-state-default=sortable_column_header(column)
  %tbody
    - @rows.each do |row|
      %tr.data_item{:class => cycle('alt', '')}
        %td
          %input{:type => 'checkbox', :name => 'records[]', :value => row[@primary_key]}
        %td=database_link('&raquo;', @db_key, "tables/#{@table_name}/record/#{row[@primary_key]}")
        - @rows.columns.each do |column|
          %td=row[column]

=will_paginate(@rows)